#eventDescription {
    width: 100%;
    border: 1px powderblue solid;
    background: rgb(222, 237, 246);
    text-align: left;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 2px solid #f76c6c;
    padding: 5px 10px 5px 10px;
}

.eventDescriptionHeader {
    background-color: #374785;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23px;
    border: 2px solid #f76c6c;
}

.descriptionStyle {
    text-align: center;
    font-size: 1.3em;
}