body {
  background-image: url('./assets/clem-onojeghuo-196232-unsplash.jpg');
  
}
.joinbutton {
  background: #374785;
  border-radius: 10px;
  color: aliceblue;
  font-size: 1.5em;
}

.eventName {
  color: aliceblue;
  background: #f76c6c;
  border-radius: 10px;
  padding: 2%;
}

<<<<<<< HEAD:src/App.css
.map {
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .eventName {
     width: 80%;
   }
   .joinbutton {
     width:30%;
     margin: 5%;
   }
   /* .map {
     width: 75%;
     margin: 5%;
     border: 1px solid rgb(255, 127, 80);
   } */
  
} 
=======
.App-intro {
  font-size: large;
}
>>>>>>> ec654e2787aad8930f0f43106b4cc582692623f3:client/src/App.css

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .eventname {
    width: 80%;
  }
  .joinbutton {
    width:50%;
    margin: 5%
  }
  /* .map {
    width: 60%;
    margin: 5%;
    border: 1px solid rgb(255, 127, 80);
  } */
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 