@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.listedevents {
    margin-top: 0;
<<<<<<< HEAD
    overflow-x: hidden;
}
=======
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../../components//Categories/categoryBack.jpg");
    overflow-x: hidden;
}


>>>>>>> f0cefb1b65e8953c69ddbce053cbd30ba4203a06
