#eventslistitems {
    background-color: lightcoral;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    padding: 0;
    padding-bottom: 3%;
    color: white;
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
#goToEventBtn, #eventsListItemsTitle {
    text-align: center;
}
#goToEventBtn .btn {
    background-color: lightblue;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    padding: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#goToEventBtn .btn a {
    text-decoration: none;
    color: darkblue;
}
#goToEventBtn .btn:hover {
    box-shadow: 5px 5px 5px grey;
}
#goToEventBtn .btn:active {
    box-shadow: 5px 5px 5px grey;
    color: darkblue;
}
.eventsListItemsSubtitle {
    color: darkblue;
}