@keyframes btnCategoriesHoverColorShift {
    from {color: white}
    to {color: lightblue}
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.categories {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url("./categoryBack.jpg");
    background-position: center center;
    background: cover;
    height: 100vh;
    width: 100%;
}

.categoryTitle {
    color: #F8E9A1;
}

.appHeader {
    font-size: 20px;
    font-weight: bold;
    color: #F8E9A1;
    padding-top: 30px;
    margin-bottom: 30px;
}
.btnCategories {
    background-color: lightcoral;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 70%;
    color: white;
    cursor: pointer;
    width: 70%;
    padding: 2%;
}
.btnCategories:hover {
    box-shadow: 5px 5px 5px grey;
    animation-name: btnCategoriesHoverColorShift;
    animation-duration: 1.5s;
    color: lightblue;
}
.btnCategories:active {
    color: lightblue;
}

.form-row {
    margin-bottom: 50px;
}

.locationSelect {
    color: #F8E9A1;
}