.btnCreateEvent {
    background-color: lightcoral;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 70%;
    color: white;
    cursor: pointer;
    padding: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btnCreateEvent a {
    text-decoration: none;
    color: white;
}
.btnCreateEvent:active {
    background-color: plum;
}