.btnJoinEvent {
    background-color: #f76c6c;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 70%;
    color: white;
    cursor: pointer;
    padding: 2%;
    font-size: 1.5em;
    margin-bottom: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btnJoinEvent a {
    text-decoration: none;
    color: white;
}
.btnJoinEvent:active {
    background-color: plum;
}