#createForm {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    position: center center;
    width: 100%;
    height: 100%;
    border: 1px solid #AAA;
    padding: 25px;
    margin-top: 15%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}

#formLogo {
    width: 40%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
    color: black;
}

input {
    text-align: center;
}

.submitButton {
    background-color: #a8d0e6;
}

#createHeader {
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

#inputCityState {
    height: 55%;
}

#inputCategory {
    height: 35px;
}

option {
    text-align: center;
}

#dateHeader {
    text-align: center;
}

#react-calendar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.react-time-picker {
    background-color: white;
}