@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
}

#EventPageStyle {
  background-image: url('../createEvent/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}

.eventName {
  color: white;
  text-shadow: 2px 2px 8px #000000;
}
  
.gapDiv {
  margin-top: 200px;
}

.mapWrapper {
  width: 350px;
  margin-right: auto;
}

.lastDiv {
  padding-bottom: 30px;
}
